body{
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
}

header{
  background: url(../img/first-bg.jpg) no-repeat center top / cover;
  height: 600px;
}
.container{
    width: 930px;
    
}

.logo{
  color: #5b8886;
}
