@import "./zeroing/_zeroing.scss";

/*:root{
    --color-header:#fff;
    $color_header:var(--color-header);
}*/

html {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Satisfy&display=swap");
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    
}

body {

    --color-header:#fff;
    $color_header:var(--color-header);

    background: linear-gradient(45deg, #EECFBA, #C5DDE8) fixed;
    &::-webkit-scrollbar {
        width: 0.25em;
    }
    &::-webkit-scrollbar-track {
        background: #7fc3d4;
    }
    &::-webkit-scrollbar-thumb {
        background: #1e1e24;
    }
}

@import "./nav_menu/_nav_menu.scss";
@import "./navigation/_navigation.scss";

.social {
    --color-social:rgb(83, 83, 83);
    //margin-top: 30vh;
    display: flex;
    justify-content: center;
    @import "./social/_social.scss";
}

.rainbow_button {
    //padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    //min-height: 10vh;
    @import "./rainbow_button/_rainbow_button.scss";
}


//small
@media only screen and (max-width: 600px){
    main{
        margin: 0;
    }
    html{
        font-size: 12px;
    }
}

h1{
    //z-index: -1;
    font-size: 16rem;
    text-transform: uppercase;
    letter-spacing: 3rem;
    text-align: right;
    opacity: .7;
    //color: $color_header;
}
p{
    font-size: 2rem;
}
footer{
    height: 5vh;
    p{
        text-align: center;
        letter-spacing: .5rem;
    }
}
.container{
    padding: 0 100px 0 100px;
    display: block;
    height: 100vh;
    &:nth-child(5){
        height: 87vh;
    }
    .about,.projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}