@import "./zeroing/_zeroing.scss";

/*:root{
    --color-header:#fff;
    $color_header:var(--color-header);
}*/

html {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Satisfy&display=swap");
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    --color-header: #fff;
    $color_header: var(--color-header);

    background: linear-gradient(45deg, #eecfba, #c5dde8) fixed;
    &::-webkit-scrollbar {
        width: 0.25em;
    }
    &::-webkit-scrollbar-track {
        background: #7fc3d4;
    }
    &::-webkit-scrollbar-thumb {
        background: #1e1e24;
    }
    //scroll-snap-type: y mandatory;
}

@import "./nav_menu/_nav_menu.scss";
@import "./navigation/_navigation.scss";

.social {
    --color-social: rgb(83, 83, 83);
    //margin-top: 30vh;
    display: flex;
    justify-content: center;
    @import "./social/_social.scss";
}

.rainbow_button {
    //padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    //min-height: 10vh;
    @import "./rainbow_button/_rainbow_button.scss";
}

//small
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
    html {
        font-size: 12px;
    }
}


.container {
    //scroll-snap-align: start;
    //padding: 0 5vw 0 5vw;
    //overflow: hidden;
    padding: 0 100px 0 100px;
    display: block;
    height: 100vh;
    width:100vw;
    &:nth-child(5) {
        height: 87vh;
    }
}

.about h1,
.projects h1,
.hobby h1,
.contact h1 {
    z-index: -1;
    font-size: 11.8vw;
    text-transform: uppercase;
    letter-spacing: 2vw;
    opacity: 0.7;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    //text-align: right;
    //overflow: hidden;
}

.about h2,
.projects h2,
.hobby h2,
.contact h2 {
    z-index: 1;
    font-size: 11.8vw;
    color: #ed5565;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    text-transform: uppercase;
    display: inline-block;
    opacity: 0.99;
    //text-align: right;
}


.about h1{
    margin-left: 37vw;
    //margin-right: 10vw;
}

.about h2 {  
    margin-left: 63.2vw;  
    margin-top: -7vw;
    letter-spacing: 2vw;
}

.projects h1{
    margin-left: 13vw;
}
.projects h2 {
    margin-top: -6vw;
    margin-left: 9vw;
    letter-spacing: 1.1vw;
}

.hobby h1{
    margin-left: 36vw;
}
.hobby h2{
    margin-left: 38.3vw;  
    margin-top: -7vw;
    letter-spacing: 2vw;  
}

.contact h1{
    margin-left: 19vw;
}
.contact h2{
    margin-left: 67.4vw;  
    margin-top: -7vw;
    letter-spacing: 1.7vw;  
}

p {
    font-size: 2rem;
    font: bold;
    //text-shadow: 0 0 .3rem .1rem #000;
}
footer {
    height: 5vh;
    width: 100vw;
    //overflow: hidden;
    p {
        text-align: center;
        letter-spacing: 0.5rem;
    }
}


.about .text {
    margin-top: 2rem;
    h1 {
        text-align: left;
        color: #000;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        cursor: context-menu;
    }
    p {
        letter-spacing: 0.5rem;
        text-align: left;
    }
    span {
        display: inline-block;
    }
    span:hover {
        color: #48cfad;
        transition: all 0.5s;
        text-decoration: solid;
    }
    span.name {
        color: #ed5565;
    }
    span.m-left {
        margin-left: -10px;
    }
}
